.el {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
 }
#e1 {
    background-color: rgb(185, 185, 19);
}

#e2 {
    background-color: rgb(9, 110, 0);
}

#e3 {
    background-color: rgb(219, 234, 247);
}

#e4 {
    background-color: blueviolet;
}

#e5 {
    background-color: black;
}
#e6 {
    background-color: rgb(185, 185, 19);
}
#e7 {
    background-color: rgb(9, 110, 0);
}
#e8 {
    background-color: rgb(219, 234, 247);
}
#e9 {
    background-color: blueviolet;
}
/* Exercici 2.1 */
#container1 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
#container1 div {
    width: 25%;
}

/* Exercici 2.2 */
#container2 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content:left;
}
#container2 div {
    width: 25%;
    justify-items: center;
    align-content: center;
}

/* Exercici 2.3 */
#container3 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content:left;
    gap: 5px;
}
#container3 div {
    width: 24.8%;
    justify-items: center;
    align-content: center;
}

/* Exercici 2.4 */
#container4 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content:left;
    gap: 5px;
}
#container4 div {
    width: 24.8%;
    justify-items: center;
    align-content: center;
}
#container4 div:nth-child(5) {
    width: 100%;
}

/* Exercici 2.5 */
#container5 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content:left;
    gap: 5px;
}
#container5 div {
    width: 24.8%;
    justify-items: center;
    align-content: center;
}
#container5 div:nth-child(5) {
    width: 100%;
}
#container5 div:nth-child(8) {
    width: 49.6%;
}

/* Exercici 2.6 */
#container6 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content:left;
    gap: 5px;
}
#container6 div {
    width: 24.8%;
    max-height: 300px;
    justify-items: center;
    align-content: center;
}
#container6 div img {
    width: 500px;
    height: 200px;
}
#container6 div:nth-child(5) {
    width: 100%;
}
#container6 div:nth-child(7) {
    justify-items: left;
}
#container6 div:nth-child(8) {
    width: 49.6%;
}
